#main-form {
    display: flex;
    flex-direction: column;
    min-width: 20rem;
    width: 25vw;
    margin: auto;
}

#main-form label {
    text-align: start;
    margin: 1rem 0;
}

#address-field {
    display: flex;
    flex-direction: column;
    margin : 1rem 0;
}

#main-form button[type="submit"] {
    width : 5rem;
    margin: 1rem auto;
}

.react-datepicker__input-container input {
    width : 97%;
}

.szh-menu__item {
    text-align: start;
}